p {
    text-align: left;
    font: 1em sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: 700px;
    padding-left: 10px;
}


#pic {
    width: 600px;
    height: 680px;
    position: absolute;
    left: 0;
    padding: 40px;
}

body {
    background-color: rgb(66, 173, 245);
}

#pro {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

#vid {
    padding: 25px;
}